<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="main">
    <div class="container mt-5">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">You've Discovered My Secret!</h1>
      <ol>
        <p class="secret-text">
          <li class="secret-text">Neil deGrasse Tyson is my hero.</li>
        </p>
        <p class="secret-text">
          <li class="secret-text"><%= secret %></li>
         Created at : <%= date %>
        </p>
      </ol>
      <hr />

      <a id="load" class="btn btn-light btn-lg" href="/logout" role="button">
        Log Out
      </a>

      <a class="btn btn-dark btn-lg" href="/submit" role="button"
        >Submit a Secret</a
      >
    </div>
  </div>
</div>

<script>
  const myButton = document.getElementById("load");
  myButton.addEventListener("click", function () {
    myButton.disabled = true;

    myButton.innerHTML =
      '<span class="spinner-border spinner-border-sm" aria-hidden="true"style="height: 1.3rem;width: 1.3rem; margin-bottom:0.1rem ;color: #333;"></span> ' +
      ' <span class="visually-hidden" role="status"> Logging out...</span>';
  });
</script>
<%- include('partials/footer') %>
